<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

  <div class="container-fluid px-0" data-layout="container">
    <nav class="navbar navbar-vertical navbar-expand-lg">
      <app-sidebar></app-sidebar>
    </nav>
    <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">

        <app-navbartop class="w-100"></app-navbartop>

    </nav>
    <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true"
      data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
      <app-search></app-search>
    </div>

    <div class="content">

      <router-outlet></router-outlet>
    </div>
  </div>
  <app-chathelp></app-chathelp>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<app-offcanvas></app-offcanvas>
